// /*================ Style Guide ================*/
// h1, h2{
//   font-size: 48px;
//   @include mq("phone-and-tablet") {
//     font-size: 36px;
//   }
//   @include mq('phone'){
//     font-size: 28px;
//   }
// }
// h3{
//   font-size: 32px;
//   @include mq("phone-and-tablet") {
//     font-size: 28px;
//   }
//   @include mq('phone'){
//     font-size: 24px;
//   }
// }
// h4{
//   font-size: 28px;
//   @include mq("phone-and-tablet") {
//     font-size: 24px;
//   }
//   @include mq('phone'){
//     font-size: 18px;
//   }
// }
// h5{
//   font-size: 24px;
//   @include mq("phone-and-tablet") {
//     font-size: 21px;
//   }
//   @include mq('phone'){
//     font-size: 18px;
//   }
// }
/*================ Multi currency ================*/
.multi-currency {
  min-width: 65px;
  select {
    border: none;
    margin-bottom: 0px;
  }
}
/*================ Social Links ================*/
.social_links {
  a {
    transition: 0.5s all;
    &:hover {
      &.twitter {
        color: #09aeec !important;
      }
      &.facebook {
        color: #49659d !important;
      }
      &.instagram {
        color: #fc8516 !important;
      }
      &.youtube {
        color: #cc3a2b !important;
      }
      &.pinterest {
        color: #cb1f2a !important;
      }
      &.google {
        color: #cc3a2b !important;
      }
    }
  }
}

/*================ Welcome newsletter ================*/
#welcome_popup {
  max-width: 750px;
  display: none;
  .col_1 {
    @include mq("tablet-and-up") {
      width: 40%;
      float: left;
    }
  }
  .col_2 {
    @include mq("tablet-and-up") {
      width: 60%;
      padding: 60px 30px 0 30px;
    }
    float: left;
    padding: 30px;
  }
}

/*================ Black Background for fixed elements ================*/
.black-bg {
  background: rgba(0, 0, 0, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  max-height: 100vh;
  height: 100%;
  cursor: pointer;
}

// html.overflow-hidden{
//   overflow: hidden;
//   overflow-y: scroll;
// }
.overflow-hidden {
  overflow: hidden;
  // height: 100%;
  // max-height: 100%;
  header#mainHeader{
    position: fixed;
  }
} 

/*================ section comman ================*/
body.pwa_theme {
  .main-content {
    @include mq("tablet-and-up") {
      // min-height: 500px;
    }
    @include mq("phone") {
      // min-height: 300px;
    }
    &.no-space {
      margin: 0;
    }
  }
}

/*================ Pagination ================*/
.pagination {
  padding: 25px 0 15px;
  text-align: center;
  transition: 0.3s all;
  .icon-fallback-text {
    vertical-align: middle;
    padding-top: 5px;
    display: inline-block;
  }
  .page {
    padding: 8px;
    vertical-align: middle;
    &.current {
      color: #a26b25;
    }
  }
}

/*================ Breadcrumb ================*/
.breadcrumb {
  padding: 10px 0;
  a{
    color: inherit;
  }
  span{
    display: inline-block;
    vertical-align: middle;
  }
  .separator{
    padding: 0 10px;
    img{
      width: 12px;
      display: block;
      @include mq('phone'){
        width: 9px;
      }
    }
  }
}

.shopify-challenge__container{
  padding: 100px 0;
}

