.slick-slide img {
  display: block;
}
.home-feature-colum{
  text-align: center;
  .col-sm-6{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  
  .feature-wrapper{
    padding: 90px 0 50px;
    border-right: 1px solid #ddd;
     
    
      .title-wraper{
        h2{
          font-size: 48px;
          margin-bottom: 13px;
    line-height: 1;
        }
        
      }
      .feature-dec{
        h5{
          p{
            font-size: 24px;
    margin-bottom: 15px;

          }
        }
      }
      .feature-btn-wrapper{
        .text-link{
          font-size: 18px;
    margin-bottom: 50px;
    display: inline-block;
    padding-right: 20px;
    transition: .3s all;
    position: relative;
    .icon-img{
      position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
    bottom: 0;
    }
    &:hover{
      text-decoration: underline;
    }
    &:hover .icon-img{
     left: 100%;
    }
        }
      }
      .feature-image{
        img{
          width: 100%;
          max-width: 200px;
          height: auto;
        }
       
      }
  }
}
}

// home banner
.home-idc-banner{
  background-color: black;
  padding:45px 0 0 0;
  @include mq("phone"){
    padding: 30px;
    max-width: 100%;
  }
  .home-banner-wrapper{
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include mq("phone"){
      
      flex-direction: column;
    }
    .home-banner-left{
      margin-left: 10%;
      @include mq("phone"){
        margin-left: 0;
        
      }
      .banner-text{
        @include flexbox();
        @include justify-content(center);
        @include align-items(flex-start);
        flex-direction: column;
        margin-bottom: 45px;
        @include mq("phone"){
          @include align-items(center);
          text-align: center;

        }
        .title{
          h5{
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 1;
            color: #fff;
            font-size: 25px;
      }
      }
        .discription{
          p{
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .banner-image{
        @include mq("phone"){
          text-align: center;
        }
        
        img{
          width: 200px;
        max-height: 200px;
        }
      }
    }
    .home-banner-right{
      margin-right: 10%;
      width: 400px;
    }

  }
}

// home-in-press
.home-in-press{
  .container {
    &:focus {
      outline: none;
    }
  .press-title-wrapper{
    text-align: center;
    margin: 80px 0 50px 0;
    .press-title{
      h2{
        color: #000;
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 10px;
      }
    }
    .press-text{
      
      p{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .flex-view-xs{
    justify-content: center;
    .press-image{
      width: 100%;
      display: flex;
      justify-content: center;
      max-width: 100%;
      margin: 0 0 40px 0;
      img{
        width: 200px;
        height: 80px;
        @include mq("phone"){
          width: 125px;
          height: 50px;
        }
      }
    }
  }
}
}

// home-video
.home-video{
  width: 100%;
  max-width: 100%;
  .home-video-wrapper{
    position: relative;
    .home-video-text{
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%,-50%);
      width: 100%;
      .video-title{
        margin-bottom: 15px;
        h2{
          color: $color_white;
          font-size: 28px;
          cursor: pointer;
          margin-bottom: 0;
          font-weight: 700;
        }
      }
      .video-subheading{
        margin-bottom: 25px;
        h5{
          color: $color_white;
          font-size: 20px;
          cursor: pointer;
          margin-bottom: 0;
          font-weight: 700;
        }
      }
      .video-button-wrapper{
        .video-button{
           font-size: 18px;
        }
      }
    }
  }
  .video-modal-wrapper{
    position: relative;
    overflow: visible;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: auto;
    iframe{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    }
}  
}