@keyframes btnSpinner {
  to {
    transform: rotate(360deg); } }

/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
/*================ Font-family ================*/
/*================ Color ================*/
/*================ Button colors ================*/
/*================ Grid ================*/
/*================ Table color ================*/
/*================ Slider ================*/
/*================ Product grid ================*/
/*================ Header ================*/
/*=========== FORM ===========*/
/*================ content ================*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  .col-xs-1.static,
  .col-sm-1.static,
  .col-md-1.static,
  .col-lg-1.static,
  .col-xs-2.static,
  .col-sm-2.static,
  .col-md-2.static,
  .col-lg-2.static,
  .col-xs-3.static,
  .col-sm-3.static,
  .col-md-3.static,
  .col-lg-3.static,
  .col-xs-4.static,
  .col-sm-4.static,
  .col-md-4.static,
  .col-lg-4.static,
  .col-xs-5.static,
  .col-sm-5.static,
  .col-md-5.static,
  .col-lg-5.static,
  .col-xs-6.static,
  .col-sm-6.static,
  .col-md-6.static,
  .col-lg-6.static,
  .col-xs-7.static,
  .col-sm-7.static,
  .col-md-7.static,
  .col-lg-7.static,
  .col-xs-8.static,
  .col-sm-8.static,
  .col-md-8.static,
  .col-lg-8.static,
  .col-xs-9.static,
  .col-sm-9.static,
  .col-md-9.static,
  .col-lg-9.static,
  .col-xs-10.static,
  .col-sm-10.static,
  .col-md-10.static,
  .col-lg-10.static,
  .col-xs-11.static,
  .col-sm-11.static,
  .col-md-11.static,
  .col-lg-11.static,
  .col-xs-12.static,
  .col-sm-12.static,
  .col-md-12.static,
  .col-lg-12.static {
    position: static; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media screen and (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media screen and (min-width: 1025px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media screen and (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.scroll-ul::-webkit-scrollbar {
  display: none; }

@media screen and (max-width: 767px) {
  .scroll-ul {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    -webkit-transform: translate3d(0, 0, 0); }
    .scroll-ul > li[class^="col"] {
      display: inline-block;
      width: 250px;
      vertical-align: top;
      float: none; }
      .scroll-ul > li[class^="col"]:first-of-type {
        margin-left: -15px; } }

.flex-view > div[class^="col"] {
  padding-left: 0;
  padding-right: 0; }

@media screen and (min-width: 768px) {
  .flex-view {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .flex-view.left {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .flex-view.right {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .flex-view.stretch {
      -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
      justify-content: stretch; }
    .flex-view.center {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .flex-view.space-between {
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .flex-view.space-around {
      -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
      justify-content: space-around; }
    .flex-view.middle {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .flex-view.end {
      -webkit-align-items: end;
      -ms-flex-align: end;
      align-items: end; }
    .flex-view.start {
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .flex-view.reverse {
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .flex-view.space {
      margin: 0 -15px; }
      .flex-view.space > div[class^="col"] {
        padding-left: 15px;
        padding-right: 15px; } }

.flex-view-xs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .flex-view-xs.left {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .flex-view-xs.right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .flex-view-xs .stretch {
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch; }
  .flex-view-xs.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex-view-xs.space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .flex-view-xs.space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around; }
  .flex-view-xs.middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex-view-xs.end {
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end; }
  .flex-view-xs.start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .flex-view-xs.reverse {
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .flex-view-xs.space {
    margin: 0 -15px; }
    .flex-view-xs.space > div[class^="col"] {
      padding-left: 15px;
      padding-right: 15px; }
  .flex-view-xs > div[class^="col"] {
    padding-left: 0;
    padding-right: 0; }

.table-view > div[class^="col"] {
  padding-left: 0;
  position: static;
  padding-right: 0; }

@media screen and (min-width: 768px) {
  .table-view {
    display: table;
    width: 100%; }
    .table-view > div[class^="col"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
      display: table-cell;
      vertical-align: middle; } }

.table-view:after {
  display: table;
  clear: both;
  content: ""; }

.table-view-xs {
  display: table;
  width: 100%; }
  .table-view-xs > div[class^="col"] {
    padding-left: 0;
    position: static;
    padding-right: 0; }
  .table-view-xs > div[class^="col"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
    display: table-cell;
    vertical-align: middle; }

/*================ Multi currency ================*/
.multi-currency {
  min-width: 65px; }
  .multi-currency select {
    border: none;
    margin-bottom: 0px; }

/*================ Social Links ================*/
.social_links a {
  transition: 0.5s all; }
  .social_links a:hover.twitter {
    color: #09aeec !important; }
  .social_links a:hover.facebook {
    color: #49659d !important; }
  .social_links a:hover.instagram {
    color: #fc8516 !important; }
  .social_links a:hover.youtube {
    color: #cc3a2b !important; }
  .social_links a:hover.pinterest {
    color: #cb1f2a !important; }
  .social_links a:hover.google {
    color: #cc3a2b !important; }

/*================ Welcome newsletter ================*/
#welcome_popup {
  max-width: 750px;
  display: none; }
  @media screen and (min-width: 768px) {
    #welcome_popup .col_1 {
      width: 40%;
      float: left; } }
  #welcome_popup .col_2 {
    float: left;
    padding: 30px; }
    @media screen and (min-width: 768px) {
      #welcome_popup .col_2 {
        width: 60%;
        padding: 60px 30px 0 30px; } }

/*================ Black Background for fixed elements ================*/
.black-bg {
  background: rgba(0, 0, 0, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  max-height: 100vh;
  height: 100%;
  cursor: pointer; }

.overflow-hidden {
  overflow: hidden; }
  .overflow-hidden header#mainHeader {
    position: fixed; }

/*================ section comman ================*/
body.pwa_theme .main-content.no-space {
  margin: 0; }

/*================ Pagination ================*/
.pagination {
  padding: 25px 0 15px;
  text-align: center;
  transition: 0.3s all; }
  .pagination .icon-fallback-text {
    vertical-align: middle;
    padding-top: 5px;
    display: inline-block; }
  .pagination .page {
    padding: 8px;
    vertical-align: middle; }
    .pagination .page.current {
      color: #a26b25; }

/*================ Breadcrumb ================*/
.breadcrumb {
  padding: 10px 0; }
  .breadcrumb a {
    color: inherit; }
  .breadcrumb span {
    display: inline-block;
    vertical-align: middle; }
  .breadcrumb .separator {
    padding: 0 10px; }
    .breadcrumb .separator img {
      width: 12px;
      display: block; }
      @media screen and (max-width: 767px) {
        .breadcrumb .separator img {
          width: 9px; } }

.shopify-challenge__container {
  padding: 100px 0; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center; }
  .slick-dots > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px; }
    .slick-dots > li button {
      padding: 0;
      background: #fff;
      border-radius: 30px;
      border: 1px solid #fff;
      display: inline-block;
      height: 8px;
      overflow: hidden;
      text-indent: -999em;
      width: 8px;
      position: relative;
      z-index: 10;
      -webkit-transition: all 0.5s linear 0s;
      -moz-transition: all 0.5s linear 0s;
      -o-transition: all 0.5s linear 0s;
      transition: all 0.5s linear 0s; }
    .slick-dots > li.slick-active {
      -moz-transform: scale(1.3);
      -o-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
      .slick-dots > li.slick-active button {
        background: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
    @media (max-width: 767px) {
      .slick-slide img.xs-hide {
        display: none; } }
    @media (min-width: 768px) {
      .slick-slide img.xs-show {
        display: none; } }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    content: "\E80E"; }

.slick-next {
  right: 0; }
  .slick-next:before {
    content: "\E804"; }

.slick-next,
.slick-prev {
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.slick-slide img {
  display: block; }

.home-feature-colum {
  text-align: center; }
  .home-feature-colum .col-sm-6 {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; }
    .home-feature-colum .col-sm-6 .feature-wrapper {
      padding: 90px 0 50px;
      border-right: 1px solid #ddd; }
      .home-feature-colum .col-sm-6 .feature-wrapper .title-wraper h2 {
        font-size: 48px;
        margin-bottom: 13px;
        line-height: 1; }
      .home-feature-colum .col-sm-6 .feature-wrapper .feature-dec h5 p {
        font-size: 24px;
        margin-bottom: 15px; }
      .home-feature-colum .col-sm-6 .feature-wrapper .feature-btn-wrapper .text-link {
        font-size: 18px;
        margin-bottom: 50px;
        display: inline-block;
        padding-right: 20px;
        transition: .3s all;
        position: relative; }
        .home-feature-colum .col-sm-6 .feature-wrapper .feature-btn-wrapper .text-link .icon-img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 5px;
          bottom: 0; }
        .home-feature-colum .col-sm-6 .feature-wrapper .feature-btn-wrapper .text-link:hover {
          text-decoration: underline; }
        .home-feature-colum .col-sm-6 .feature-wrapper .feature-btn-wrapper .text-link:hover .icon-img {
          left: 100%; }
      .home-feature-colum .col-sm-6 .feature-wrapper .feature-image img {
        width: 100%;
        max-width: 200px;
        height: auto; }

.home-idc-banner {
  background-color: black;
  padding: 45px 0 0 0; }
  @media screen and (max-width: 767px) {
    .home-idc-banner {
      padding: 30px;
      max-width: 100%; } }
  .home-idc-banner .home-banner-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    @media screen and (max-width: 767px) {
      .home-idc-banner .home-banner-wrapper {
        flex-direction: column; } }
    .home-idc-banner .home-banner-wrapper .home-banner-left {
      margin-left: 10%; }
      @media screen and (max-width: 767px) {
        .home-idc-banner .home-banner-wrapper .home-banner-left {
          margin-left: 0; } }
      .home-idc-banner .home-banner-wrapper .home-banner-left .banner-text {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        -webkit-box-align: flex-start;
        -webkit-flex-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 45px; }
        @media screen and (max-width: 767px) {
          .home-idc-banner .home-banner-wrapper .home-banner-left .banner-text {
            -webkit-box-align: center;
            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            text-align: center; } }
        .home-idc-banner .home-banner-wrapper .home-banner-left .banner-text .title h5 {
          font-weight: 700;
          margin-bottom: 10px;
          line-height: 1;
          color: #fff;
          font-size: 25px; }
        .home-idc-banner .home-banner-wrapper .home-banner-left .banner-text .discription p {
          color: #fff;
          font-size: 16px; }
      @media screen and (max-width: 767px) {
        .home-idc-banner .home-banner-wrapper .home-banner-left .banner-image {
          text-align: center; } }
      .home-idc-banner .home-banner-wrapper .home-banner-left .banner-image img {
        width: 200px;
        max-height: 200px; }
    .home-idc-banner .home-banner-wrapper .home-banner-right {
      margin-right: 10%;
      width: 400px; }

.home-in-press .container:focus {
  outline: none; }

.home-in-press .container .press-title-wrapper {
  text-align: center;
  margin: 80px 0 50px 0; }
  .home-in-press .container .press-title-wrapper .press-title h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px; }
  .home-in-press .container .press-title-wrapper .press-text p {
    font-size: 14px;
    line-height: 20px; }

.home-in-press .container .flex-view-xs {
  justify-content: center; }
  .home-in-press .container .flex-view-xs .press-image {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 0 40px 0; }
    .home-in-press .container .flex-view-xs .press-image img {
      width: 200px;
      height: 80px; }
      @media screen and (max-width: 767px) {
        .home-in-press .container .flex-view-xs .press-image img {
          width: 125px;
          height: 50px; } }

.home-video {
  width: 100%;
  max-width: 100%; }
  .home-video .home-video-wrapper {
    position: relative; }
    .home-video .home-video-wrapper .home-video-text {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      width: 100%; }
      .home-video .home-video-wrapper .home-video-text .video-title {
        margin-bottom: 15px; }
        .home-video .home-video-wrapper .home-video-text .video-title h2 {
          color: #ffffff;
          font-size: 28px;
          cursor: pointer;
          margin-bottom: 0;
          font-weight: 700; }
      .home-video .home-video-wrapper .home-video-text .video-subheading {
        margin-bottom: 25px; }
        .home-video .home-video-wrapper .home-video-text .video-subheading h5 {
          color: #ffffff;
          font-size: 20px;
          cursor: pointer;
          margin-bottom: 0;
          font-weight: 700; }
      .home-video .home-video-wrapper .home-video-text .video-button-wrapper .video-button {
        font-size: 18px; }
  .home-video .video-modal-wrapper {
    position: relative;
    overflow: visible;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: auto; }
    .home-video .video-modal-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%; }

