<div id="login-page">
      <div id="CustomerLoginForm" class="form_vertical">
          <h3 class='title text-center'>Hello NoiseMaker!</h3>
          {% form 'customer_login', class:"login-form" %}

          <div class="note form-success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>
          {{ form.errors | default_errors }}
          <div class="field icon">
            <input required type="email" name="customer[email]" placeholder="E-mail address" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
          </div>
          {% if form.password_needed %}
          <div class="field icon">
            <input required type="password" value="" name="customer[password]" placeholder="Password" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
          </div>
          {% endif %}
          <div class="row">
            <div class="col-xs-12">
              <div class="text-right">
                {% if form.password_needed %}
                <p><a href="#recover" id="RecoverPassword">Forgot Password ?</a></p>
                {% endif %}
              </div>
            </div>
            <div class="col-xs-12 text-center">
              <div class="submit-area">
                <p>
                <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
                </p>
                <p class="sign-up-text">
                  Not a Noisemaker yet? <a href="/account/register">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
          {% endform %}
          <h3 class='or'>Or</h3>
          <div>
            <div id="oxi-social-login"></div>
          </div>
        </div>
        <div id="RecoverPasswordForm" class="hide">
          <div class="text-center">
            <h3 class="title">{{ 'customer.recover_password.title' | t }}</h3>
            <p class="text"> {{ 'customer.recover_password.subtext' | t }}</p>
          </div>

          <div class="form_vertical">
            {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
            Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
            <span class="hide reset-password-success"></span>
            {% endif %}

            <div class="field icon">
              <input required type="email" placeholder="Email" value="" name="email" id="RecoverEmail" class="input-full"autocorrect="off" autocapitalize="off">
              <label></label>
            </div>
            <div class="btn-wrapper">
              <div class="col-sm-6">
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </div>
              <div class="col-sm-6">
                <button type="button" id="HideRecoverPasswordLink" class="btn">{{ 'customer.recover_password.cancel' | t }}</button>
              </div>
            </div>
            {% endform %}
          </div>
        </div>
        {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}
        <div class="text-center" id="guest-login">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>
          {% form 'guest_login' %}
          <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
        {% endif %}
</div>