<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <link rel="stylesheet" href="{{ 'theme-checkout.css' | asset_url }}">
    <style>
      .announcement-bar {
        {% if settings.show_announcement %}
          display: block;
        {% else %}
          display: none;
        {% endif %}
        background-color: {{settings.background_color_ancbar}};
      }
      .announcement-bar p {
        color: {{settings.text_color_ancbar}};
      }

    </style>
    <script>
      window.simply = window.simply || {};
      window.cn = function(o){return"undefined"==typeof o||null==o||""==o.toString().trim()};
      window.cb = function(o){if(o == 'true'){return true}else{return false}};
      simply.prepaid = false;
      simply.money_format = "{{ shop.money_format }}";
      simply.phoneNumber = "{{checkout.shipping_address.phone}}";
      simply.header_text = "{{settings.header_text_checkout}}";
      simply.discount_code_setting = "{{settings.discount_code}}";
      simply.discounted_price = '₹{{checkout.discounts_amount | divided_by:100 | ceil }}';
      simply.checkoutEnable = {{settings.checkout_otp_enable}};
      {% for discount_application in checkout.discount_applications %}
        simply.discount_code_title = '{{ discount_application.title }}';
      {% endfor %} 
      simply.checkoutRazorPayEMIPrice = "{{checkout.total_price | divided_by:4 | money_without_trailing_zeros }}";
      simply.pincodeFile= "{{'noise-deliver-pincode.json' | file_url}}";
      simply.no_offers = false;
      {% for item in checkout.line_items %}
      {% for tag in item.product.tags %}
      {% if tag contains 'no-offers' %}
        simply.no_offers = true;
      {% endif %}
     {% endfor %} 
     {% endfor %} 
    </script>
    <style>
      :root{
        --btn_color : {{settings.btn_color}};
        --btn_hover_color : {{settings.btn_hover_color}};
        --btn_disabled_color:  {{settings.btn_disabled_color}};
        --btn_font_color : {{settings.btn_font_color}};
        --btn_border_color : {{settings.btn_color_border}};
        --btn_border_hover_color : {{settings.btn_color_border_hover}};
        --btn_font_hover_color : {{settings.btn_font_hover_color}};
      }
    </style>
    {% render 'clevertapSDK' %}
    {% render 'vwo-sdk' %}
    {% render 'gtm-container' %}

  </head>
  <body class="{% if content_for_layout contains 'data-step="shipping_method"' %}shipping_method {% elsif content_for_layout contains 'data-step="payment_method"' %}payment_method_body{% endif %}">
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    <script>
      simply.service_zip_json_file = "{{settings.service_zip_json_file}}";
    </script>
    {% render 'checkout-extra-items' %}
    <script src="{{'theme-checkout.js' | asset_url}}" type="text/javascript" defer="defer"></script>
    <div class="black-bg Fixed"></div>
    {% render 'clevertap_checkout_events' %}
  </body>
</html>
