{% assign pwa_theme = false %}

<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta name="google-site-verification" content="9PxjSRadlD5ttQDlsJWFt7Vo7kfNQz7k5yky21SMXqk" />
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="true" name="HandheldFriendly"/>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    {% include 'head'  %}
    {{ content_for_header}}
</head>
  <body class="template-{{ template | split: '.' | first }}">
    <div class="body-wrapper">
      <div id="root-id"></div>
      {{ content_for_index }}  
      <div class="custom-layout">
        {{ content_for_layout }}
        </div>
    </div>
    <script src="{{'simply-react.js' | asset_url}}" type="text/javascript" defer="defer"></script>
    <script src="{{'theme.js' | asset_url}}" type="text/javascript" defer="defer"></script>
  </body>
</html>

