{% schema %}
{
    "name": "Noise Dairies",
    "max_blocks": 7,
    "settings": [
        {
            "type": "text",
            "id": "noise_dairies_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "diries_text",
            "label": "Text"
        }
    ],
    "blocks":[        
    {

    
    "type": "icon",
        "name": "Dairies",
        "settings": [
            {
                "type": "text",
                "id": "dairie_title",
                "label": "Story Title"
            },
            {
                "type": "text",
                "id": "dairie_date",
                "label": "Date"
            },
            {
                "type": "text",
                "id": "dairie_image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "id",
                "label": "Article URL"
            }
        ]
        }
    ],
    "presets": [
        {
            "category": "Text",
            "name":"Noise Dairies"
        }
    ]
}
{% endschema %}