<!-- home-slider -->
<script class="section-data" data-type="home-slider" type="application/json">
{
    "sectionId":"{{ section.id }}",
    "blocksId":[
    {%- for block in section.blocks -%}
        " {{ block.id }}" {% unless forloop.last %}
            ,
        {% endunless %}
    {%- endfor -%}
    ],
    "settings":{{ section.settings | json }},
    "blocks":[
    {%- for block in section.blocks -%}
        {{block.settings | json}} {% unless forloop.last %}
            ,
        {% endunless %}
    {%- endfor -%}
    ]
}
</script>

{% schema %}
{
    "name": "Home Slider",
    "max_blocks": 6,
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full width",
            "default": true
           
        }
        
    ],
    "blocks":[
    {
        "type": "slide",
        "name": "slide",
        "settings": [
            {
                "type": "image_picker",
                "label":"Image",
                "id":"slider_image"
            },
            {
                "type": "image_picker",
                "label":"Image mobile",
                "id":"slider_image_mobile"
            },
            {
                "type": "url",
                "id":"slider_link",
                "label":"Image URL"
            }
        ]
    }
    ],
    "presets": [
        {
            "category": "Home slider",
            "name":"Home slider"
        }
    ]
}
{% endschema %}