<script class="section-data" data-type="home-video" type="application/json">
{
    "sectionID":"{{section.id}}",
    "settings":{{ section.settings | json }}
}
</script>
{% schema %}
{
    "name": "Home video",
    "settings": [
        {
            "type": "text",
            "id": "home_video_url",
            "label": "Video URL"
        },
        {
            "type": "text",
            "id": "home_video_mobile_url",
            "label": "Video URL (mobile)"
        },
        {
            "type": "image_picker",
            "id": "home_image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "home_image_mobile",
            "label": "Image (mobile)"
        },
        {
            "type": "checkbox",
            "id": "home_video_controls",
            "label": "Controls",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "home_video_autoplay",
            "label": "Video Autoplay",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "home_video_loop",
            "label": "Video Loop",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "home_video_mute",
            "label": "Video Mute",
            "default": true
        },
        {
            "type": "text",
            "id": "home_video_heading",
            "label": "Video Heading"
        },
        {
            "type": "text",
            "id": "home_video_subheading",
            "label": "Video Subheading"
        },
        {
            "type": "text",
            "id": "home_video_btn_txt",
            "label": "Button text"
        },
        {
            "type": "text",
            "id": "home_video_btn_url",
            "label": "Button Url"
        }
    ],
    "presets": [
        {
            "category": "Home video",
            "name":"Home video"
        }
    ]
}
{% endschema %}