<script class="section-data" data-type="home-in-press" type="application/json">
    {
        "sectionId":"{{ section.id}}",
        "blockId":[
        {%- for block in section.blocks -%}
            "{{ block.id }}" {%- unless forloop.last -%}
                ,
            {%- endunless -%}
        {%- endfor -%}
        ],
        "settings":{{section.settings | json}},
        "block":[
          {%- for block in section.blocks -%}
              {{ block.settings | json }} {%- unless forloop.last -%}
                  ,
              {%- endunless -%}
          {%- endfor -%}
        ]
    }
</script>

{% schema %}
{
    "name": "In the press",
    "max_blocks": 7,
    "settings": [
        {
            "type": "text",
            "id": "press_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "press_text",
            "label": "Text"
        }
    ],
    "blocks":[
         {
             "name": "image",
             "type": "image_picker",
             "settings": [
                 {
                     "type": "image_picker",
                     "id": "press_image_desktop",
                     "label": "Image"
                 }
             ]
        }
    ],
    "presets": [
        {
            "category": "Home in press",
            "name":"Home in press"
        }
    ]
}
{% endschema %}