<script class="section-data" data-type="home-feature-colum" type="application/json">
{
    "sectionId":"{{ section.id}}",
    "blockId":[
    {%- for block in section.blocks -%}
        "{{ block.id }}" {%- unless forloop.last -%}
            ,
        {%- endunless -%}
    {%- endfor -%}
    ],
    "settings":{{section.settings | json}},
    "block":[
      {%- for block in section.blocks -%}
          {{ block.settings | json }} {%- unless forloop.last -%}
              ,
          {%- endunless -%}
      {%- endfor -%}
    ]
}
</script>
{% schema %}
{
    "name": "Text columns with images",
    "max_blocks": 6,
    "settings": [
        {
            "type": "checkbox",
            "id": "home_fearure_full_width",
            "label": "Ful width",
            "default": true
        }
    ],
    "blocks":[
   {
       "name": "text_block",
       "type":"text-block",
       "settings": [
       {
        "type": "text",
        "id": "home_feature_title",
        "label": "Title"
    },
    {
        "type": "richtext",
        "id": "home_fearure_richtext",
        "label": "label"
    },
    {
        "type": "text",
        "id": "home_fearure_btn_text",
        "label": "Button label"
    },
    {
        "type": "url",
        "id": "home_fearure_btn_url",
        "label": "Button URL"
    },
    {
        "type": "image_picker",
        "id": "home_fearure_image",
        "label": "Feature image"
    }
       ]
    
   }
       
    ],
    "presets": [
        {
            "category": "Text",
            "name":"home-feature-colum"
        }
    ]

}
{% endschema %}