<!-- Home IDC banner -->
<script class="section-data" data-type="home-idc-banner" type="application/json"> 
{
    "sectionID":"{{section.id}}",
    "settings":{{section.settings | json }}
}
</script>
{% schema %}
{
    "name": "Home IDC banner",
    "settings": [
        {
            "type": "text",
            "id": "idc_banner_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "idc_banner_text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "idc_image_url",
            "label": "IDC image"
        },
        {
            "type": "image_picker",
            "id": "idc_banner_image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "category": "Home IDC banner",
            "name":"Home IDC banner"
        }
    ]
}
{% endschema %}