
<script>
    window.simply = window.simply || {};
    window.pwa    = window.pwa || {};
    window.cn = function (o) { return "undefined" == typeof o || null == o || "" == o.toString().trim() };
  </script>
  {% render 'main-css' %}
  {% render 'react-icons' %}