<!-- main-css -->
<style>
    {% assign header_font = settings.heading_font_family %}
    {% assign base_font = settings.body_font_family %}
    {{ header_font | font_face: font_display: 'swap'}}
    {{ base_font | font_face: font_display: 'swap'}}
    :root{

     /*================ Font ================*/
     --main-header-font:{{ header_font.family}},{{ header_font.fallback_families }};
     --body-font:{{ base_font.family}} ,{{ base_font.fallback_families}};
     --body_font_size:{{ settings.body_font_size}}px;
     --body_font_size_mobile:{{ settings.body_font_size_mobile}}px;

      /*================ Body color ================*/
      --body_background:{{ settings.body_background}};
     --text-color:{{ settings.text-color}};
     --heading-text-color:{{ settings.heading-text-color}};
     --link-color:{{ settings.link-color}};
     --link-hover-color:{{ settings.link-hover-color}};

     
    /*================ Top bar ================*/
     --top-bar-background-color:{{ settings.top-bar-background-color}};
     --top-bar-text-color:{{ settings.top-bar-text-color}};
     --top-bar-link-color:{{ settings.top-bar-link-color }};

    /*================ Header ================*/
     --header-background-color:{{ settings.header-background-color}};
     --header-font-color:{{ settings.header-font-color}};

  /*================ Main Navigation  ================*/
     --navigation-link-color:{{ settings.navigation-link-color}};
     --navigation-link-hover-color:{{ settings.navigation-link-hover-color}};

     /*================ Button ================*/
     --button_background_color:{{ settings.button_background_color}};
     --button_font_color:{{ settings.button_font_color}};
     --button_border_color:{{ settings.button_border_color}};
     --button_bacground_hover_color:{{ settings.button_bacground_hover_color}};
     --button_text_hover_color:{{ settings.button_text_hover_color}};
     --button_desable_color:{{ settings.button_desable_color}};


    }


/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body{
    background-color : var(--body_background);
  }
  body {
    line-height: 1.3;
    font-family:var(--body-font);
    font-size: var(--body_font_size);
  }
  @media (max-width:767px) {
    body {
    font-size: var(--body_font_size_mobile);
  }
  }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color:var(--link-color);
    line-height:inherit;
    cursor: pointer;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  button:hover{
    background:var(--button_bacground_hover_color);

  }
  .btn{
  background:var(--button_background_color);
  color : var(--button_font_color);
  padding:10px 40px;
  border-radius: 100px;
  border: 1px solid var(--button_border_color);
  font-family: var(--body-font);
  cursor: pointer;
}
p,li{
  color:var(--text-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6{
    color:var(--heading-text-color);
    margin-bottom:1em;
    font-family: var(--main-header-font);
    margin: 0
}
.lazyloaded{
    width:100%;
    height:auto;
  }
  .img_load{
    filter:blur(7px);
    -webkit-filter:blur(7px);
    -moz-filter:blur(7px);
    -o-filter:blur(7px);
  }
  .img-responsive {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
</style>